<footer class="footer clearfix">
	<div class="row">
		<div class="small-12 medium-6 columns clearfix">
			<div class="footer__logo">
				<a href="{{ site.baseurl }}/">{{ site.title_fa }}</a>
			</div>
		</div>
		<div class="small-12 small-only-text-center medium-6 columns clearfix">
			<ul class="inline-list footer__social">
				<li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a></li>
				<li><a href="https://www.behance.net/{{ site.behance_username }}"><i class="fa fa-behance"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 small-only-text-center medium-6 columns clearfix">
			<ul class="inline-list footer__nav">
				{% assign url = page.url|remove:'index.html' %}
				{% for link in site.navigation_fa %}
				<li {% if url == link.url %}class="active"{% endif %}>
					<a href="{{link.url}}" title="{{link.text}}">{{link.text}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="small-12 medium-6 columns clearfix">
			<div class="footer__copyright">&copy; 2015 By Reyhoun . All Rights Reserved</div>
		</div>
	</div>
</footer>
<script async src="/assets/js/all.js"></script>