<footer class="footer clearfix">
	<div class="row">
		<div class="small-4 columns">
			<div class="footer__logo">
				<a href="{{ site.baseurl }}/">{{ site.title }}</a>
			</div>
			<ul class="inline-list footer__nav">
				<li><a href="{{ site.baseurl }}/">Projects</a></li>
				<li><a href="{{ site.baseurl }}/about/">About</a></li>
				<li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
				<li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
			</ul>
		</div>
		<div class="small-4 columns">
			<ul class="inline-list footer__social right">
				<li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a></li>
				<li><a href="https://twitter.com/{{ site.behance_username }}"><i class="fa fa-behance"></i></a></li>
			</ul>
			<p class="footer__copyright right">© 2014 By Reyhoun . All Rights Reserved</p>
		</div>
	</div>
</footer>
<script src="/assets/js/all.js"></script>