<header class="header">
	<div class="row">
		<div class="small-3 columns">
			<div class="header__logo left">
				<a href="{{ site.baseurl }}/">{{ site.title }}</a>
			</div>
		</div>
		<div class="small-6 columns">
			<ul class="inline-list header__nav right">
				<li><a href="{{ site.baseurl }}/">Projects</a></li>
				<li><a href="{{ site.baseurl }}/about/">About</a></li>
				<li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
				<li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
			</ul>
		</div>
	</div>
</header>