<header class="header">
	<div class="row">
		<div class="small-3 columns">
			<div class="header__logo left">
				<a href="{{ site.baseurl }}/">{{ site.title }}</a>
			</div>
		</div>
		<div class="small-6 columns">
			<ul class="inline-list header__nav right">
				{% assign url = page.url|remove:'index.html' %}
				{% for link in site.navigation %}
				<li {% if url == link.url %}class="active"{% endif %}>
					<a href="{{link.url}}" title="{{link.text}}">{{link.text}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</header>