.content__blog {
	border-bottom: 1px solid lighten(#666, 55%);
	padding: rem-calc(25 0);
	&:first-of-type {
		padding-top: 0;
	}
	&:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
	}
}

.content__title {
	font-size: rem-calc(dir-check(28, 28));
}

.date {
	font-size: rem-calc(dir-check(18, 16));
	color: lighten($anchor-font-color, 7%);
}

.post-meta {
	margin-bottom: rem-calc(0);
	line-height: 1;
	color: lighten($header-font-color, 18%);
	font-size: rem-calc(17);
}

.post-title {
	margin-top: 0;
}

@include if-rtl {
	.post-date {
		font-size: rem-calc(18);
	}
	.post-meta {
		font-size: rem-calc(24);
	}
}
