.content__blog {
	border-bottom: 1px solid lighten(#666, 55%);
	padding: rem-calc(25 0);
	&:first-of-type {
		padding-top: 0;
	}
	&:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
	}
}

.content__title {
	font-size: rem-calc(dir-check(28, 28));
}

.date {
	font-size: rem-calc(dir-check(18, 16));
	color: lighten($anchor-font-color, 7%);
}