//header styles
.header {
	padding: rem-calc(80 0);
}

.header__logo {
	font-size: rem-calc(35);
	line-height: 1;
	margin: 0;
	font-family: 'Expletus Sans';
}

.header__nav {
	margin-bottom: 0;
	padding-top: rem-calc(3);
	li {
		margin-left: rem-calc(35);
		a {
			font-size: rem-calc(14);
		}
	}
}

//container styles
.container {
	padding-top: rem-calc(120);
}

.container__title {
	font-size: rem-calc(45);
	margin-bottom: rem-calc(50);
	line-height: 1;
	margin-top: 0;
}


//footer styles
.footer {
	background: darken($color-base, 35%);
	padding: rem-calc(120 0);
}

.footer__logo {
	font-size: rem-calc(26);
	margin-bottom: rem-calc(20);
	display: inline-block;
	line-height: 1;
}

.footer__nav {
	margin-bottom: 0;
	font-size: rem-calc(12);
}

.footer__copyright {
	display: inline-block;
	color: darken($color-base, 5%);
}

.footer__social {
	margin-bottom: rem-calc(20);
	i {
		font-size: rem-calc(17);
	}
}

.footer__copyright {
	font-size: rem-calc(13);
	margin-bottom: 0;
}

.header__logo,
.footer__logo {
	text-transform: uppercase;
	a {
		color: darken($color-base, 5%);
	}
}

.footer__nav,
.footer__social {
	a {
		color: lighten($color-base, 25%);
	}
}

.header__nav,
.footer__nav {
	li {
		text-transform: uppercase;
	}
}