body {
	direction: $text-direction;
}

.dir-ltr {
    direction: ltr;
}

a {
	@include transition();
}

h1,h2,h3,h4,h5,h6 {
	letter-spacing: -1px;
}

.header__logo,
.footer__logo {
	font-family: 'Expletus Sans';
	line-height: 1;
	a {
		transition: none;
	}

	@include if-rtl {
		font-family: 'WMitra';
	}
}

// Header styles
.header {
	padding: rem-calc(22 0 80);
}

.header__logo {
	font-size: rem-calc(dir-check(35, 35 + $rsc));
	margin: 0;
}

.header__nav {
	margin-bottom: 0;
	padding-top: rem-calc(3);
	float: $end;
	li {
		margin-#{$start}: rem-calc(35);

		@include breakpoint(medium) {
			margin-#{$start}: rem-calc(25);
		}

		&:first-child {
			margin-#{$start}: 0;
		}

		a {
			font-size: rem-calc(dir-check(14, 14 + $rsc));
			color: lighten($color-base, 12%);
		}

		&.active {
			a {
				color: darken($color-base, 5%);
				font-weight: 400;
			}
		}
	}
}

// Header Links hover effects
.cl-effect-3 {
	li {
		a {
			position: relative;
			padding-bottom: rem-calc(13);

			&::after {
				position: absolute;
				top: rem-calc(30);
				#{$start}: 0;
				width: 100%;
				height: 2px;
				background: $main_primary_color;
				content: '';
				opacity: 0;
				@include transition(all, 300ms);
				-webkit-transform: translateY(10px);
				-moz-transform: translateY(10px);
				transform: translateY(10px);
			}

			&:hover,
			&:focus {
				&:after {
					opacity: 1;
					-webkit-transform: translateY(0);
					-moz-transform: translateY(0);
					transform: translateY(0);
				}
			}


			@include if-rtl {
				padding-bottom: rem-calc(10);

				&:after {
					@include transition(all, 200ms);
					-webkit-transform: translateY(13px);
					-moz-transform: translateY(13px);
					transform: translateY(13px);
				}
				&:hover,
				&:focus {
					&:after {
						@include if-rtl {
							-webkit-transform: translateY(8px);
							-moz-transform: translateY(8px);
							transform: translateY(8px);
						}
					}
				}
			}
		}

		&.active {
			a {
				&::after {
					bottom: rem-calc(0);
					background: darken($main_primary_color, 5%);
					opacity: 1;
					transition: none;
					transform: none;
					@include if-rtl {
						-webkit-transform: translateY(8px);
						-moz-transform: translateY(8px);
						transform: translateY(8px);
					}
				}
			}
		}
	}
}


// Language Links
.lang {
	text-align: $end;
	padding-bottom: rem-calc(36);
	font-size: rem-calc(14);

	.active {
		color: lighten($color-base, 27%);
		cursor: default;
	}

	.separator-line {
		width: rem-calc(1);
		height: rem-calc(14);
		vertical-align: middle;
		background: lighten($header-font-color, 25%);
		display: inline-block;
	}

	.lang__eng {
		padding-#{$end}: rem-calc(2);
	}
	.lang__fa {
		padding-#{$start}: rem-calc(2);
	}

	a {
		color: $color-base;
	}
}

// Container styles
.container {
	margin: rem-calc(120 0 180);
}

.container__title {
	margin-bottom: rem-calc(50);
	line-height: 1;
	margin-top: 0;
}

// Link Style on content in about and blog pages
.content--single {

	ul {
		list-style-type: circle;
		list-style-position: inside;
		li {
			margin-bottom: rem-calc(5);
		}
	}
}

// Footer styles
.footer__logo,
.footer__nav {
	float: $start;
}

.footer__social,
.footer__copyright {
	float: $end;
}

.footer {
	background: darken($color-base, 35%);
	padding: rem-calc(120 0);
	font-weight: normal;
}

.footer__logo {
	font-size: rem-calc(dir-check(26, 26 + $rsc));
	margin-bottom: rem-calc(20);
	display: inline-block;
	width: 100%;
}

.footer__nav {
	margin-bottom: 0;
	font-size: rem-calc(dir-check(12, 12 + $rsc));
}

.footer__logo,
.footer__nav {
	text-align: $start;
}

.footer__copyright {
	display: inline-block;
	color: darken($color-base, 5%);
	font-size: rem-calc(13);
	margin-bottom: 0;
	width: 100%;
	text-align: $end;
	direction: ltr;
	font-family: 'Raleway';
}

.footer__social {
	margin-bottom: rem-calc(30);
	float: $end;
	line-height: 1;
	i {
		font-size: rem-calc(17);
	}
}

.header__logo,
.footer__logo {
	text-transform: uppercase;
	a {
		color: darken($color-base, 5%);
	}
}

.footer__nav,
.footer__social {
	a {
		color: lighten($color-base, 25%);
		&:hover {
			color: $anchor-font-color;
		}
	}
}

.header__nav,
.footer__nav {
	li {
		text-transform: uppercase;
	}
}


// Mobile mode styles
@include breakpoint(small) {
	.header {
		padding: rem-calc(20 0 80);
	}

	.lang {
		padding-bottom: rem-calc(20);
	}

	.header__logo,
	.header__nav {
		text-align: center;
		float: none;
	}

	.header__logo {
		margin-bottom: rem-calc(20);
	}

	.header__nav {
		display: inline-block;
		li {
			margin-#{$start}: rem-calc(25);
		}
	}

	.inline-list {
		&.header__nav {
			margin-#{$start}: 0;
		}
	}

	.footer__social {
		margin-bottom: rem-calc(40);
	}

	.footer__nav {
		margin-bottom: rem-calc(0);
	}

	.container {
		margin: rem-calc(0 0 120);
	}

	.container__title {
		font-size: rem-calc(40);
		margin-bottom: rem-calc(40);
	}

	.footer {
		padding: rem-calc(80 0);
	}

	.footer__logo {
		margin-bottom: rem-calc(20);
	}

	.footer__logo,
	.footer__social,
	.footer__nav,
	.footer__copyright {
		float: none;
		text-align: center;
		display: inline-block;
	}
}