.content__about {
	margin-bottom: rem-calc(85);
	p {
		font-size: rem-calc(dir-check(40, 40 + $rsc));
		color: lighten($color-base, 20%);
		margin-bottom: rem-calc(15);
		line-height: 1.4;
	}

	.read-more {
		font-size: rem-calc(dir-check(20, 20 + $rsc - 4));
	}
}

@include if-rtl {
	.content__about {
		margin-bottom: rem-calc(180);
	}	
}

.services {
	i {
		font-size: rem-calc(70);
		color: lighten($color-base, 45%);
	}

	p {
		margin-bottom: rem-calc(15);
		color: lighten($color-base, 15%);
	}
}

.read-more {
	font-size: rem-calc(dir-check(15, 15 + $rsc));
	font-weight: 400;
}

.page--portfolio {
	.container {
		margin-bottom: rem-calc(200);
	}
}

//hover on image styles
.item,
.item__hover {
	position: relative;
	overflow: hidden;
}

.item {
	margin-top: rem-calc(15);

	a {
		display: block;
	}

	.item__hover {
		display: block;
	}

	.layer,
	.item__info {
		position: absolute;
		opacity: 0;
	}

	.layer {
		background: rgba(darken(#fff, 3%), 0.95);
		width: 100%;
		height: 100%;
		top: 0;
	}

	.layer,
	.item__info {
		@include transition(opacity, 350ms);
	}

	.item__info {
		color: #565656;
		top: rem-calc(40);
		#{$start}: rem-calc(40);
		#{$end}: rem-calc(40);
	}

	.item__titles {
		display: block;
		margin-bottom: rem-calc(10);
		font-size: rem-calc(30);
	}

	.item__title {
		font-weight: bold;
		font-size: rem-calc(50);
		display: block;
	}

	.item__subtitle {
		display: block;
		font-size: rem-calc(20);
		color: lighten(#565656, 10%);
		margin-bottom: rem-calc(25);
		margin-top: rem-calc(-5);
	}

	.item__desc {
		font-size: rem-calc(17);
		display: block;
		line-height: 1.5;
	}

	&:hover {
		.layer,
		.item__info {
			opacity: 1;
		}
	}
}



@include breakpoint(small) {
	.layer,
	.item__info {
		display: none;
	}
	
	.content__about {
		margin-bottom: rem-calc(65);

		@include if-rtl {
			margin-bottom: rem-calc(100);
		}

		p {
			font-size: rem-calc(dir-check(30, 30 + $rsc));
			line-height: 1.5;
		}

		.read-more {
			font-size: rem-calc(dir-check(16, 16 + $rsc));
		}
	}

	.services__box {
		margin-bottom: rem-calc(75);
		
		&.last {
			margin-bottom: 0;
		}
	}
}