.content__about {
	margin-bottom: rem-calc(100);
	p {
		font-size: rem-calc(35);
		color: lighten($color-base, 20%);
		margin-bottom: rem-calc(10);
	}
}

.read-more {
	font-size: rem-calc(14);
	font-weight: 400;
}

.content__work-shot {
}

.page--portfolio {
	.container {
		margin-bottom: 200;
	}
}