.details {
	ul {
		margin: 0;
		list-style-type: none;
		li {
			font-size: rem-calc(15);
			&:before {
				content: "—";
				padding-right: rem-calc(5);
			}
		}
		&:first-of-type {
			float: left;
		}
		&:nth-of-type(2n) {
			float: right;
		}
	}
}

.details__title {
	font-size: rem-calc(16);
	text-transform: uppercase;
	padding-bottom: rem-calc(15);
	color: lighten($color-base, 20%);
	font-weight: 400;
}

.top-info {
	margin-bottom: rem-calc(70);
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.content__portfolio {
	img {
		margin: rem-calc(50 0 30);
	}
}